pom.xml
/lein.ps1
pom.xml.asc
.lein-failures
*jar
/classes/
/out/
/.repl/
/lib/
/targets/
/target-*/
/target/
.lein-deps-sum
.#*
*.orig
.lein-repl-history
.cpcache/
.shadow-cljs/
.nrepl-port
*~
.idea/
*.iml
node_modules/
.codex
docs/superpowers/
