{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.10.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        com.cognitect/transit-cljs {:mvn/version "0.8.264"}
        org.apache.httpcomponents/httpasyncclient {:mvn/version "4.1.4"}
        org.apache.httpcomponents/httpcore {:mvn/version "4.4.14"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {compojure/compojure {:mvn/version "1.6.2"}
                      http-kit/http-kit {:mvn/version "2.5.3"}
                      org.clojure/core.async {:mvn/version "1.3.610"}}
         :exec-fn ajax.test.jvm-runner/run-tests}
  :dev {:extra-paths ["dev" "browser-test"]
        :extra-deps {clj-time/clj-time {:mvn/version "0.15.2"}
                     compojure/compojure {:mvn/version "1.6.2"}
                     fogus/ring-edn {:mvn/version "0.3.0"}
                     hiccup/hiccup {:mvn/version "1.0.5"}
                     http-kit/http-kit {:mvn/version "2.5.3"}
                     org.clojure/tools.namespace {:mvn/version "1.1.0"}
                     ring/ring-defaults {:mvn/version "0.3.2"}
                     ring/ring-json {:mvn/version "0.5.1"}
                     ring/ring-devel {:mvn/version "1.9.6"}
                     ring-server/ring-server {:mvn/version "0.5.0"}
                     ring-transit/ring-transit {:mvn/version "0.1.6"}}}
  :cljs {:extra-paths ["test" "browser-test"]
         :extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                      thheller/shadow-cljs {:mvn/version "2.28.19"}}}
  :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build}}}
