{:deps {:aliases [:cljs]}
 :builds
 {:test-node {:target :node-test
              :output-to "target-test-node/node-tests.js"
              :ns-regexp "^ajax\\.test\\.(core|url|compiled-output)$"}
  :test-browser {:target :karma
                 :output-to "target-test/browser-tests.js"
                 :ns-regexp "^ajax\\.test\\.(core|url)$"}
  :integration-node {:target :node-test
                     :output-to "target-test-node/integration-node-tests.js"
                     :ns-regexp "^ajax\\.test\\.(integration|integration-node)$"}
  :integration-browser {:target :karma
                        :output-to "target-test/integration-browser-tests.js"
                        :ns-regexp "^ajax\\.test\\.(integration|integration-browser)$"}
  :integration {:target :browser
                :output-dir "target-int"
                :asset-path "/"
                :modules {:integration {:init-fn browser/run-browser-tests}}}}}
